<section class="about-area pb-60 content-area-margin">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content">
                    <p>Foundation Safety is Shay Hill and his rolodex of highly qualified moonlighters and subject-matter experts. An experienced safety leader with a potent skill stack and contageous passion, Shay has consistently developed quality systems and personnel in the Oil Drilling and Pharmaceutical Construction industries.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about3.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <!--<div class="col-xl-6 col-md-6 mb-20">-->
                        <!--<div class="about-img">-->
                            <!--<img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</section>
