<div class="wp-block-uagb-blockquote uagb-blockquote__outer-wrap uagb-block-10e9e0ef">
    <div class="uagb-blockquote__wrap uagb-blockquote__skin-quotation uagb-blockquote__align-left uagb-blockquote__style-style_2 uagb-blockquote__stack-img-none">
        <blockquote class="uagb-blockquote">
            <div class="uagb-blockquote__icon-wrap">
                <span class="uagb-blockquote__icon">
                    <svg width="20" height="20" viewBox="0 0 32 32">
                        <path d="M7.031 14c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7l-0.031-1c0-7.732 6.268-14 14-14v4c-2.671 0-5.182 1.040-7.071 2.929-0.364 0.364-0.695 0.751-0.995 1.157 0.357-0.056 0.724-0.086 1.097-0.086zM25.031 14c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7l-0.031-1c0-7.732 6.268-14 14-14v4c-2.671 0-5.182 1.040-7.071 2.929-0.364 0.364-0.695 0.751-0.995 1.157 0.358-0.056 0.724-0.086 1.097-0.086z"></path>
                    </svg>
                </span>
            </div>
            <div class="uagb-blockquote__content-wrap" style="margin-left:65px">
                <div class="uagb-blockquote__content" markdown="span">{{ include.content }}</div>
                <footer>
                    <div class="uagb-blockquote__author-wrap uagb-blockquote__author-at-left">
                        <cite class="uagb-blockquote__author">-{{ include.author }}</cite>
                    </div>
                </footer>
            </div>
        </blockquote>
    </div>
</div>
