<div class="widget">





<div id="mc_embed_shell">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <style type="text/css">
        #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
    <form action="https://shayallenhill.us22.list-manage.com/subscribe/post?u=58c4e36f6e7100497d22e4dde&amp;id=1db3677555&amp;f_id=00aac6e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
        <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
            <div class="mc-field-group"><label for="mce-EMAIL">E-mail <span class="asterisk">&nbsp;</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
<div hidden=""><input type="hidden" name="tags" value="2461"></div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
        <input type="text" name="b_58c4e36f6e7100497d22e4dde_1db3677555" tabindex="-1" value="">
    </div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                <!-- <p style="margin: 0px auto;"><a href="http://eepurl.com/iNIfog" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p> -->
            </div>
        </div>
    </div>
</form>
</div>
</div>











    <h4 class="widget-title featured-articles-headspace">Featured Articles</h4>
    <div class="sidebar-rc-post">
        <ul>
           {% for post in site.categories.featured %}
            <li>
                <div class="rc-post-thumb">
                    <a href="{{post.url}}">
                        <img src="{{post.post_image}}" alt="{{post.title}}"/>
                    </a>
                </div>
                <div class="rc-post-content">
                    <h4>
                        <a href="{{post.url}}">{{post.title}}</a>
                    </h4>
                    <div class="widget-date">{{post.date | date_to_long_string}}</div>
                </div>
            </li>
           {% endfor %}
        </ul>
    </div>
</div>

<!-- <div class="widget"> -->
<!--     <h4 class="widget-title">Categories</h4> -->
<!--     <div class="widget-link"> -->
<!--         <ul class="sidebar-link"> -->
<!--             {% for category in site.categories %} -->
<!--             {% assign category_name = category[0] %} -->
<!--             {% if category[0] == "featured" %} -->
<!--             {% else %} -->
<!--             <li> -->
<!--                 <a class="text-capitalize" href="/category/{{ category_name | slugify }}/">{{ category_name | replace: "-", " " }}</a> -->
<!--             </li> -->
<!--             {% endif %} -->
<!--             {% endfor %} -->
<!--         </ul> -->
<!--     </div> -->
<!-- </div> -->

<div class="widget">
    <h4 class="widget-title">Share This Article</h4>
    <div>
        {% include social_share.html %}
    </div>
</div>

