/* CSS that specificly applies to foundationsafety.com */

body {
  --highlight-color: #008181;
}

/* Make the main menu (home probability programming ... ) thinner. */
.main-menu ul li a {
	padding: 15px 0;
}

/* The breadcrumb area is only ever seen at shayallenhill for paginated pallet
 * pages. */

.breadcrumb-title h2 {
  color: #000;
}

.breadcrumb-title h3 {
  color: #666;
}

.breadcrumb-area {
  height: 100px;
}


