---
layout: page
title: About Us
carousels:
  - images: 
    - image: /assets/img/referrals/review_00.svg
    - image: /assets/img/referrals/review_01.svg
    - image: /assets/img/referrals/review_02.svg
    - image: /assets/img/referrals/review_03.svg
    - image: /assets/img/referrals/review_04.svg
    - image: /assets/img/referrals/review_05.svg
    - image: /assets/img/referrals/review_06.svg
---
<!-- about-info -->
<section class="about-info content-area-margin">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="about-info-text">
                    <h2>We Love to Make Things Work</h2>
                    <p>Do your safety systems feel more like obligations than opportunities? Do your spend more time managing your management system than managing your business? Do your personnel require constant supervision to follow the rules? Do you dread incident invesigation almost as much as you dread incidents? Do you find yourself re-learning the same lessons over and over again?<br><br>
                    Will you let us help?</p>
                    <a href="/pages/services" class="btn">Read More</a>
                    <!--TODO: restore handshake image?-->
                    <!--<div class="info-img">-->
                        <!--<img src="{{site.baseurl}}/assets/img/about/handshake-2009195_1920.png" class="img-fluid" alt="">-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area -->
<section class="about-area grey-bg pb-60 content-area-margin">
    <div class="container">

        <div class="row">
            {% include carousel.html height="25" unit="%" duration="12" number="1" %}
        </div> <!-- end row -->
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div> <!-- end section-title -->
                <div class="about-content">
                    <p>An experienced safety leader with a potent skill stack and contageous passion, Shay has consistently developed quality systems and personnel in the Oil Drilling and Pharmaceutical Construction industries for over ten years.</p>
                </div> <!-- end about-content -->
            </div> <!-- end col-xl-6 col-lg-6 mb-40 -->
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <img src="{{site.baseurl}}/assets/img/about/shay.jpg" class="img-fluid" alt="Shay Hill">
            </div> <!-- end col-xl-6 col-lg-6 mb-20 md-margin -->
        </div> <!-- end row -->
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2> </h2>
                </div> <!-- end section-title -->
                <div class="about-content">
                    <p>Former Department Chairman of an award-winning Emergency Medical AAS degree program, Joe has significant teaching and leadership experience in emergency medicine. From the field, through the university system, and as a public servant, Joe has spent decades "walking the walk".</p>
                </div> <!-- end about-content -->
            </div> <!-- end col-xl-6 col-lg-6 mb-40 -->
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <img src="{{site.baseurl}}/assets/img/about/joe.jpg" class="img-fluid" alt="Joe Hamilton">
            </div> <!-- end col-xl-6 col-lg-6 mb-20 md-margin -->
        </div> <!-- end row -->


        <!--<div class="row">-->
            <!--<div class="col-xl-6 col-lg-6 mb-40">-->
                <!--<div class="section-title">-->
                    <!--<h2>About Us</h2>-->
                 <!--</div>-->
                <!--<div class="about-content">-->
                    <!--<p>Foundation Safety is Shay Hill and his rolodex of highly qualified moonlighters and subject-matter experts. An experienced safety leader with a potent skill stack and contageous passion, Shay has consistently developed quality systems and personnel in the Oil Drilling and Pharmaceutical Construction industries.</p>-->
                <!--</div>-->
            <!--</div> [> col <]-->
        <!--</div> [> row <]-->
        <!--<div class="row">-->
            <!--<div class="col-xl-6 col-lg-6 mb-20 md-margin">-->
                <!--<div class="row">-->
                    <!--[><div class="col-xl-6 col-md-6 mb-20"><]-->
                        <!--<div class="about-img">-->
                            <!--<img src="{{site.baseurl}}/assets/img/about/shay.jpg" class="img-fluid" alt="">-->
                        <!--</div>-->
                    <!--[></div><]-->
                    <!--[><div class="col-xl-6 col-md-6 mb-20"><]-->
                        <!--[><div class="about-img"><]-->
                            <!--[><img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt=""><]-->
                        <!--[></div><]-->
                    <!--[></div><]-->
            <!--<div class="blockquote-wrapper">-->
              <!--<div class="blockquote">-->
                <!--<h1> If I had to describe Shay in one word, it’s "backbone".-->
                    <!--The epitome of integrity, convicted by personal commitment-->
                    <!--to doing things right, the values of humanity are manifest-->
                <!--in his actions.</h1>-->
                <!--<h4>&mdash;Bryan,<br><em>Innovation Project Manager</em></h4>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="blockquote-wrapper">-->
              <!--<div class="blockquote">-->
                <!--<h1> Shay transformed new-hire training for our Americas-->
                    <!--region, improving attitudes across the region and saving-->
                    <!--the company many thousands of dollars.</h1>-->
                <!--<h4>&mdash;Richard,<br><em>Founder, HSE Manager</em></h4>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="blockquote-wrapper">-->
              <!--<div class="blockquote">-->
                <!--<h1> Shay is the key piece we've been missing for years, and-->
                    <!--I'm proud to get to work with him.  </h1>-->
                <!--<h4>&mdash;Tim,<br><em>HSE Director</em></h4>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="blockquote-wrapper">-->
              <!--<div class="blockquote">-->
                <!--<h1>-->
                <!--There is only one Shay Hill.-->
                 <!--</h1>-->
                <!--<h4>&mdash;Dana,<br><em>Mixed Media Content Provider </em></h4>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="blockquote-wrapper">-->
              <!--<div class="blockquote">-->
                <!--<h1>-->
                <!--I have worked with Shay since early in his career and seen him rise up through the ranks. He has established himself as a motivated, determined professional with impeccable integrity.-->
                 <!--</h1>-->
                <!--<h4>&mdash;Jeff,<br><em>Founder</em></h4>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="blockquote-wrapper">-->
              <!--<div class="blockquote">-->
                <!--<h1>-->
                <!--Shay operates with integrity at all times ... His principles are key to how he performs his work."-->
                 <!--</h1>-->
                <!--<h4>&mdash;Vincent,<br><em>Clinic Support Manager</em></h4>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="blockquote-wrapper">-->
              <!--<div class="blockquote">-->
                <!--<h1>-->
                <!--I really didn't like Shay when I first met him.-->
                 <!--</h1>-->
                <!--<h4>&mdash;Ernest,<br><em>Chemical Engineer</em></h4>-->
              <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div> <!-- container -->
</section>

<!-- team-are -->
<!--TODO: restore the team section-->
<!--{% include team_members.html %}-->
