---
layout: page
pagination: 
  enabled: true
permalink: "/pages/blog/"
title: Featured Articles
---

<div class="basic-blog-area gray-bg pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-post-items">
                <div class="blog-wrapper">
        </div>
        </div>
        </div>
        <h4>Featured Articles from <a class="shayallenhill-link" href="https://shayallenhill.com">Shay's personal website</a></h4>
        <div class="row">
            <div class="col-lg-8 blog-post-items">
              {% for post in paginator.posts %}
                <div class="blog-wrapper">
                    <div class="blog-thumb">
                        <a href="{{post.url}}">
                            <img class="img-fluid" src="{{post.post_image}}" alt="{{post.title}}"/>
                        </a>
                    </div>
                    <div class="blog-directory">
                        <h2 class="blog-title">
                            <a href="{{post.url}}">{{post.title}}</a>
                        </h2>
                        <p>{{post.excerpt | strip_html | truncatewords:"30"}}</p>
                    </div>
                    <div class="link-box">
                        <a href="{{post.url}}">Read More</a>
                    </div>
                </div>
              {% endfor %}
             {% include pagination.html %}
            </div>
            <div class="col-lg-4 sm-mt sidebar-blog right-side">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>
